services:
  mosquitto:
    image: eclipse-mosquitto
    volumes:
      - ../config:/mosquitto/config
      - ../data:/mosquitto/data
      - ../log:/mosquitto/log
    networks:
      - internal-net
    ports:
      - 1883:1883

networks:
  internal-net:
    external: true
    name: internal-net