mqtt:
  host: mosquitto
  user: {{mosquitto.users[1].username}}
  password: {{mosquitto.users[1].password}}
  topic_prefix: frigate
  port: {{mosquitto.listener}}

#ffmpeg:
#  hwaccel_args:
#    - -hwaccel
#    - rocm
#    - -hwaccel_device
#    - /dev/dri/renderD128
#  input_args:
#    - -avoid_negative_ts
#    - make_zero
#    - -fflags
#    - +genpts+discardcorrupt
#    - -rtsp_transport
#    - tcp
#    - -stimeout
#    - '5000000'
#    - -use_wallclock_as_timestamps
#    - '1'

detectors:
  amd:
    type: rocm
    device: /dev/dri/renderD128  # Match your GPU device

model:
  path: /config/miscellanea/yolov7-tiny.onnx  # Must exist in config directory
  #width: 320
  #height: 320
  labelmap_path: /config/miscellanea/labels.txt

record:
  enabled: false

snapshots:
  enabled: false

birdseye:
  enabled: true
  mode: continuous

#objects:
#  track:
#    - person
#    - cat
#    - dog


cameras:
{% for camera_file in lookup('fileglob', 'cameras/*.yml', wantlist=True) %}
{% set camera_content = lookup('file', camera_file) %}
  {{camera_content | indent(2) }}
{% endfor %}

