mqtt:
  host: mosquitto
  user: {{mosquitto.users[1].username}}
  password: {{mosquitto.users[1].password}}
  topic_prefix: frigate
  port: {{mosquitto.listener}}

detectors:
  #cpu1:
  #  type: cpu
  coral:
    type: edgetpu
    device: pci:0

detect:
  enabled: false
  width: 640
  height: 352
  fps: 5

ffmpeg:
  hwaccel_args:
    - -hwaccel
    - vaapi

record:
  enabled: false

snapshots:
  enabled: false

birdseye:
  enabled: true
  mode: continuous


cameras:
{% for camera_file in lookup('fileglob', 'cameras/*.yml', wantlist=True) %}
{% set camera_content = lookup('file', camera_file) %}
  {{camera_content | indent(2) }}
{% endfor %}

