version: "3.9"
services:
  frigate:
    container_name: {{ container_name }}
    privileged: {{ privileged }}
    restart: {{ restart }}
    image: {{ image.name }}:{{ image.version }}
    shm_size: {{ shm_size }}
 #   devices:
 #     - /dev/bus/usb:/dev/bus/usb # passes the USB Coral, needs to be modified for other versions
 #     - /dev/apex_0:/dev/apex_0 # passes a PCIe Coral, follow driver instructions here https://coral.ai/docs/m2/get-started/#2a-on-linux
 #     - /dev/dri/renderD128 # for intel hwaccel, needs to be updated for your hardware
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ main_paths.config.path }}/{{ main_paths.config.filename }}:/config/config.yml
      - {{ main_paths.media.path }}:/media/frigate
      - type: {{ main_paths.cache.type }}
        target: {{ main_paths.cache.target }}
        tmpfs:
          size:  {{ main_paths.cache.size }}

  {% if ports is defined %}
  ports:
  {% for port in ports %}
    - {{ port }}
  {% endfor %}
  {% endif %}

  {%- if environment is defined -%}
  environment:
  {% for key in environment_values %}
    - {{ key }}={{ environment_values[key] }}
  {% endfor %}
  {% endif %}
